#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0

if [ -e /etc/default/pure-ftpd-common ]; then
	. /etc/default/pure-ftpd-common || true
	if [ "$STANDALONE_OR_INETD" ]; then
		db_set pure-ftpd/standalone-or-inetd "$STANDALONE_OR_INETD"
	fi
	if [ "$VIRTUALCHROOT" ]; then
		db_set pure-ftpd/virtualchroot "$VIRTUALCHROOT"
	fi
fi

db_beginblock
db_input medium pure-ftpd/standalone-or-inetd || true
db_input medium pure-ftpd/ftpwho-setuid || true
db_endblock
db_go

db_input medium pure-ftpd/virtualchroot || true
db_go

if grep 'OPTIONS=' /etc/default/pure-ftpd-common > /dev/null 2>&1
then
	db_input high pure-ftpd/config-obsolete-note || true
	db_go
fi

if test -f /etc/inetd.conf-pureftpd.preinst
then
	db_input high pure-ftpd/saved-inetd-config || true
	db_go
fi

# check if we need to warn about changed MinUID setting
if [ "$2" ] && dpkg --compare-versions "$2" lt 1.0.16 \
	&& dpkg --compare-versions "$2" gt 1.0.13; then
	db_input high pure-ftpd/minuid || true
	db_go
fi

db_stop
